body{
    margin:0
}

.all{
    width: 100%;

}
.contanier{
    max-width: 991px;
    margin: 0 auto;
}
/* navbar */
nav{
    width:100%;
    height:60px;
    background-color:gray;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    width:50px;
    height:50px;
    margin-top:5px;
    margin-right:700px;
    background-color:red;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Pakistan_%28orthographic_projection%29.svg/2000px-Pakistan_%28orthographic_projection%29.svg.png');
    background-size: contain;
}

nav .menulist ul{
    list-style-type: none;
    display:flex;
    color:white;
    padding:5px 5px
}

nav .menulist ul li{
    padding: 0px 0px;
}

nav .menulist ul li a{
    text-decoration: none;
    color:white;
    padding: 22px 15px;
}
nav .menulist ul li a:hover{
    background-color: rgb(88, 86, 86);
    transition:all 0.5s
}
/* navbar */

/* Page1 */
    #page_1{
        width:100%;
        height:100vh;
        display: flex;
        margin: 0 auto;
        background-color: rgba(201, 198, 198, 0.322);
    }   

    #page_1 .page1image{
        margin-top:25%;
        width:60%;
        height:30%;
        background-image: url('https://cdn.pixabay.com/photo/2019/02/14/21/14/dog-3997449_960_720.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        border:1px solid gray
    }
    #page_1 .page1image:hover{
        background-image: url('https://cdn.pixabay.com/photo/2019/01/21/10/06/rottweiler-3945746_960_720.jpg');
        background-position:0px -180px;
        transition:all 0.5s ease 0s
    }

    #page_1 .page1text{
        display: flex;
        margin-top:25%;
        color:white;
        font-size: 18px;
        width: 80%;
        height:30%;
        margin-left: 20px;
        padding:0px 18px;
        text-align: justify;
        line-height: 28px;
        background-color:gray
    }

    #page_1 .page1text .font1{
        margin-top:50px;        
    }
/* Page1 */
/* Page2 */
#page_2{
    position: relative;
    width:100%;
    height:calc(100vh - 110px);
    margin: 0 auto;
    background-color: rgba(201, 198, 198, 0.322);
}

#page_2 .img1{
    width:100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1070527/pexels-photo-1070527.jpeg?cs=srgb&dl=abstract-expressionism-abstract-painting-acrylic-1070527.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.mask{
    width:100%;
    height:100%;
    background-color: rgba(87, 93, 126, 0.219);
}

.img1 .mask span{
    display:none;
    color:white;
    position: relative;
    left: calc(50% - 40px);
    top: calc(50% - 20px);
    background-color: rgb(87, 84, 84);
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
}


/* Page2 */
/* Page3 */
#page_3{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 198, 198, 0.322);
}

.card1{
    width:31%;
    height:60%;
    margin:10px
}
.cardphoto1{
    width:100%;
    height:60%;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0px 1px;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/12/21/10/cube-3314811_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cardtext1{
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
    font-size: 16px;
    width: 100%;
    height:40%;
    background-color: rgb(148, 73, 148);
}    
.cardtext1 .text1font{
    padding: 25px 10px;
}

.card2{
    width:31%;
    height:60%;
    margin:10px
}
.cardphoto2{
    width:100%;
    height:60%;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0px 1px;
    background-image: url('https://images.pexels.com/photos/972161/pexels-photo-972161.jpeg?cs=srgb&dl=video-game-972161.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cardtext2{
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
    font-size: 16px;
    width: 100%;
    height:40%;
    background-color: wheat;
}  
.cardtext2 .text2font{
    padding: 25px 10px;
}

.card3{
    width:31%;
    height:60%;
    margin:10px
}
.cardphoto3{
    width:100%;
    height:60%;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0px 1px;
    background-image: url('https://c.pxhere.com/images/35/f9/caac168bb583ece977706a5c00df-1446043.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
}
.cardtext3{
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
    font-size: 16px;
    width: 100%;
    height:40%;
    background-color: teal;
}   
.cardtext3 .text3font{
    padding: 25px 10px;
}

/* Page3 */

footer{
    width:100%;
    text-align: center;
    background-color: gray;
    color:black;
    padding:16px 0px;  
}

@media screen and (max-width:991px){
/* nav */
    nav{
        position: relative;

    }
    nav .logo{
        width:50px;
        height:50px;
        margin:0 auto;
        margin-top: 5px;
    }

    .menulist{
        width: 100px;
        height: 100%;
        position: absolute;
        left: 30px;
        background-image: url(http://cdn.onlinewebfonts.com/svg/img_510214.png);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 10px 13px;
    }

    .menulist:hover ul{
        display: flex;
    }

    nav .menulist ul{
        display: none;
        list-style-type: none;
        flex-direction: column;
        position: absolute;
        left: -30px;
        top: 44px;
        color:white;
        padding: 0px 0px;
        background-color: rgba(177, 167, 167, 0.445);
    }
    nav .menulist ul li{
        padding: 5px 0px;
    }
    nav .menulist ul li a{
        padding: 1px 30px;
    }
    /* nav */

    /* Page1 */
    #page_1{
        flex-direction: column;
    }

    #page_1 .page1image{
        order:2;
        margin:0;
        width:calc(100%);
        border:0px
    }

    #page_1 .page1text{
        margin: 15% auto 0 auto;
        width:calc(100% - 36px);
        font-size: 10px;
        height:unset;
    }

    #page_1 .page1text .font1{
        margin-top:10px;        
    }
    #page_1 .page1image{
        height:50%;
    }

    /* Page3 */
    #page_3{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        justify-content: space-between;
        background-color: rgba(201, 198, 198, 0.322);
    }

    .card1{
        width: 100%;
        height:80vh;
    }
    .cardtext1{
        font-size: 20px;
        height: unset;
        line-height: 15px;
        margin-top: 0%;
    /* height:40%; */
    }
    .cardtext1 .text1font{
        font-size: 15px;
        line-height: 15px;
        padding: 20px 10px;
    }


    .card2{
        width: 100%;
        height:80vh;
    }
    .cardtext2{
        font-size: 20px;
        height: unset;
        line-height: 15px;
        margin-top: 0%;
    /* height:40%; */
    }
    .cardtext2 .text2font{
        font-size: 15px;
        line-height: 15px;
        padding: 20px 10px;
    }

    .card3{
        width: 100%;
        height:80vh;
    }
    .cardtext3{
        font-size: 20px;
        height: unset;
        line-height: 15px;
        margin-top: 0%;
    /* height:40%; */
    }
    .cardtext3 .text3font{
        font-size: 15px;
        line-height: 15px;
        padding: 20px 10px;
    }

}