.topSpace {
  background-color: #0b263b;
  width: 100%;
  height: 1750px;
  position: sticky;
  overflow-x: hidden;

  .attractionsTitle {
    color: white;
    font-size: 50px;
    position: absolute;
    left: calc(50% - 100px);
    top: 400px;
    z-index: 5;
    text-shadow: rgb(0, 0, 0) 0px 1px 4px;
  }
  .earth {
    position: absolute;
    top: 100px;
    left: calc(50% - 510px);
    background-image: url("../img/EarthWhite.png");
    background-size: cover;
    width: 865px;
    height: 700px;
    z-index: 2;
  }

  .star {
    .star1 {
      background-image: url("../img/star.png");
      background-size: cover;
      width: 100px;
      height: 100px;

      position: absolute;
      left: 150px;
      top: 350px;
      z-index: 3;
      transform: rotate(45deg);
    }

    .star2 {
      background-image: url("../img/star.png");
      background-size: cover;
      width: 50px;
      height: 50px;

      position: absolute;
      right: 150px;
      top: 500px;
      z-index: 3;
      transform: rotate(30deg);
    }

    .star3 {
      background-image: url("../img/star.png");
      background-size: cover;
      width: 200px;
      height: 200px;

      position: absolute;
      right: 200px;
      top: 40px;
      z-index: 3;
      transform: rotate(100deg);
    }

    .star4 {
      background-image: url("../img/star.png");
      background-size: cover;
      width: 70px;
      height: 70px;

      position: absolute;
      left: 300px;
      top: 100px;
      z-index: 3;
      transform: rotate(-25deg);
    }
  }

  .cloud {
    .cloud1 {
      position: absolute;
      background-image: url("../img/cloud1.png");
      background-size: cover;
      width: 950px;
      height: 600px;

      left: 1200px;
      top: 700px;
      z-index: 3;
    }

    .cloud2 {
      position: absolute;
      background-image: url("../img/cloud2.png");
      background-size: cover;
      width: 950px;
      height: 600px;
      transform: scaleX(-1);

      left: -400px;
      top: 700px;
      z-index: 3;
    }

    .cloud3 {
      position: absolute;
      background-image: url("../img/cloud3.png");
      background-size: cover;
      width: 1000px;
      height: 600px;
      transform: scaleX(-1);

      left: 1000px;
      top: 780px;
      z-index: 3;
    }

    .cloud4 {
      position: absolute;
      background-image: url("../img/cloud3.png");
      background-size: cover;
      width: 1400px;
      height: 832px;

      right: 1200px;
      top: 700px;
      z-index: 3;
    }

    .cloud5 {
      position: absolute;
      background-image: url("../img/cloud2.png");
      background-size: cover;
      width: 1500px;
      height: 700px;

      left: 1400px;
      top: 1000px;
      z-index: 4;
    }
  }
}

.island {
  width: 100%;
  height: 1200px;
  position: relative;

  .ocean {
    background-image: url("../img/ocean.jpg");
    z-index: 2;
    background-size: cover;
    width: 100%;
    height: 1400px;

    .taiwan {
      background-image: url("../img/taiwanMap.png");
      background-size: cover;
      z-index: 3;
      width: 700px;
      height: 1200px;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.4));

      position: absolute;
      top: 200px;
      left: calc(50% - 450px);
    }

    .igTaipei {
      background-image: url("../img/instagramTaipei.png");
      background-size: cover;
      width: 600px;
      height: 600px;

      position: absolute;
      top: 65px;
      right: 82px;

      .swiper-container {
        width: 300px;

        position: absolute;
        top: 130px;
        left: 154px;
        word-wrap: break-word;

        .text {
          margin-top: 50px;
          margin-right: 10px;

          p {
            font-size: 1.2rem;
          }
        }

        .swiper-pagination {
          left: 48%;
          bottom: 111px;
        }
      }
    }
  }
}

.island::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  z-index: 5;
  background: linear-gradient(#0b263b, transparent);
}
